---
import Logo from './Logo.astro'
import Nav from './Nav.astro'

const { isRoot } = Astro.props
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 1.5em 0 1.5em;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
</style>

<header>
  {!isRoot && <a href="/">
    <Logo />
  </a>}
  <Nav />
</header>
