---
import BackButton from './BackButton.astro'
import Nav from './Nav.astro'

const { isRoot } = Astro.props
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 1.5em 0 1.5em;
    width: 100%;
  }

  header.left {
    justify-content: flex-start;
  }
  
  header.center {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    display: block;
    margin-right: 1rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;

    margin: 1em 0 2em 0;
    @media (max-width: 680px) {
      margin: 3.5em 0 2em 0;
    }
  }

  .subtitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.9rem;
  }
</style>

<!-- prettier doesn't seem to work with astro -->
<header class={isRoot?"center": "left"}>
  {isRoot ? <div class="title">
    <h1 style={{fontSize: "2.5em", margin: "0"}}>Frontend, TS and Stuff</h1>
    <div class="subtitle">Infrequent, irregular thoughts by <a href="https://github.com/s-h-a-d-o-w" target="_blank"><img src="https://avatars.githubusercontent.com/u/16936908?v=4" alt="Headshot of Andreas Opferkuch"></a></div>
  </div> : <a href="/">
    <BackButton />
  </a>}
  <Nav />
</header>
