---
import BackButton from "./BackButton.astro";
import Nav from "./Nav.astro";

const { isRoot } = Astro.props;
---

<header class={isRoot ? "center" : "left"}>
  {
    !isRoot && (
      <a href="/" aria-label="Go back">
        <BackButton />
      </a>
    )
  }
  <Nav />
</header>

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 1.5em 0 1.5em;
    width: 100%;
  }

  header.left {
    justify-content: flex-start;
  }

  header.center {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
</style>
