---
import BackButton from './BackButton.astro'
import Nav from './Nav.astro'

const { isRoot } = Astro.props
---

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 1.5em 0 1.5em;
    width: 100%;
  }

  header.left {
    justify-content: flex-start;
  }
  
  header.center {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
</style>

<!-- prettier doesn't seem to work with astro -->
<header class={isRoot?"center": "left"}>
  {isRoot ? <h1 style={{fontSize: "2.5em", margin: "1em 0 1.5em 0"}}>Andreas Opferkuch's Tech Blog</h1> : <a href="/">
    <BackButton />
  </a>}
  <Nav />
</header>
