---
import ThemeToggleButton from './ThemeToggleButton.svelte';
---

<style>
  nav {
    position: absolute;
    right: 1.5rem;

    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
    z-index: 1;
  }
</style>

<nav>
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>
