---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const pathname = new URL(Astro.request.url).pathname;
---

<style>
  nav {
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
  }

  a {
    margin-right: 1.5rem;
  }

  /* There is a strange offset in this container that I can't find (seems like maybe caused by the astro islands web component in an obscured manner). This is a workaround to fix the vertical alignment with the links next to it. */
  .theme-toggle-container {
    margin-bottom: -4px;
  }
</style>

<nav>
  {pathname !== '/' && <a href='/'>home</a>}
  {pathname.replaceAll("/", "") !== 'blog' && <a href='/blog'>blog</a>}
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>